<!-- baner-area-start -->
<div class="baner-area mtb-40">
  <div class="banner-img">
    <a href="{{ section.settings.banner_img_2_url }}"><img src="{% if section.settings.banner_img_2 %}{{ section.settings.banner_img_2 | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/ 870x180{% endif %}" alt="banner" /></a>
  </div>
</div>
<!-- baner-area-end -->