
<div class="banner-img-2">
  <a href="{{ block.settings.banner_img_url }}"><img src="{% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: 'large' }}{% else %}http:\/\/via.placeholder.com\/ 280x470{% endif %}" alt="banner" /></a>
</div>
