<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copy-right-area text-center">
          <p>{{ section.settings.copy_right }}</p>
        </div>
      </div>
    </div>
  </div>
</div>