
{% if section.settings.header_top_enable %}

<div class="header-top-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="header-top-left">
          <p>{{ section.settings.header_top_left_title }}</p>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <div class="header-link text-right">
          <ul>
            {% assign header_top_menu_handle = section.settings.header_top_menu %}
            {% for link in linklists[header_top_menu_handle].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            
            <li>
              {% if shop.customer_accounts_enabled and customer %}
              <a href="/account/logout">Log Out</a>
              {% else %}
              <a href="/account/login">Log In</a>
              {% endif %}
            </li>
            <li>
              {% if shop.customer_accounts_enabled and customer %}

              {% else %}
              <a href="/account/register">Register</a>
              {% endif %}
            </li>
            
           {% include 'currency-picker' %}
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}